<ion-header>
    <ion-toolbar>
        <ion-title>{{this.currentUser.username}} ORDERS</ion-title>
    </ion-toolbar>
</ion-header>  
<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-subtitle>PENDING ORDERS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <table id="customers">
            <tr>
              <th>Delivery Time</th>
              <th>Quantity</th>
              <th>Size(kg)</th>
              <th>Brand</th>
            </tr>
          </table>          
    </ion-card-content>
  </ion-card>   
</ion-content>
