<ion-header>
        <ion-toolbar>
            <ion-title>CIRCLE</ion-title>
        </ion-toolbar>
</ion-header>  
<ion-content>
  <div> 
      <ion-grid>
                <ion-row align-items-center>
                <ion-col>
                    ORDER #
                </ion-col>
                <ion-col>
                    NAME 
                </ion-col>
                <ion-col>
                    DATE
                </ion-col>
                <ion-col align-items-end>
                    ITEM
                </ion-col>
                </ion-row>
               
    </ion-grid>
</div> 
</ion-content>
